
.container .button_1{
    margin-top: 12rem;
}
.container .mas {
    margin-left: 4rem;
}

.container .position-cal{
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.calculador .container .button_1 .btn .ingresos {
	padding-left: 146px;
}
.calculador .container .button_1 .btn .egresos {
	padding-left: 146px;
}